#header-main{
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.662);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
    padding: 2px;
}

#link-div{
    color: blue;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

#header-menu-bar{
    display: none;
}

#header-links{
     font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

#header-links:hover{
    padding: 8px;
    background-color: red;
    border-radius: 12px;
}

#large{
    background-color: rgba(255, 255, 255, 0.691);
    display: none;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
    justify-content: center;
}

#small{
    width: 100%;
    padding: 12px;
    color: white;
    padding-right: 20px;
    row-gap: 3px;
    position: absolute;
    display: flex;
    background-color: rgba(255, 0, 0, 0.367);
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    
}

@media (max-width:710px){
    #header-menu-bar{
        display: block;
    }

    #header-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
     #header-call-div{
        display: none;
     }

    #link-div{
        display: none;
    }
}